<h1>Welcome <%= current_user.username %>!</h1>
<h3>Your Wines: </h3>

<% current_user.wines.alpha.each do |w|%>
  <li><strong><%= link_to w.name, wine_path(w) %></strong>
  <br>
  <br>
<% end %>
<br>
<br>
<%= link_to "Add a Wine", new_wine_path %> 
<br>
<br>
<%= link_to "All Wines", wines_path %> 

