<h1>Categories</h1>
<ul>
  <% @categories.each do |category| %>
    <br>
    <li>
    <h2><strong><%= link_to category.name, category_path(category) %></strong> (<%= pluralize(category.wines.count, "wine") %>)</h2>
    </li>
    
  <% end %>
</ul>

