<h1><%= @category.name %> - <%= pluralize(@category.wines.count, "wine") %></h1>

<ol>
    <% @category.wines.each do  |wine| %>
      <li><%= link_to wine.name, wine_path(wine)  %></li>
    <% end  %>
</ol>