<% if @user %>
  <h1>My Wines</h1>
<% else %>
  <h1>All Wines</h1>
<% end %>


<% @wines.each do |w|%>
  <li><strong><%= link_to w.name, wine_path(w) %></strong>
  <br>
  <img src="<%= w.img %>" > </li>
  <br>
  <br>
<% end %>

